@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins&family=Roboto:wght@300&display=swap');
*{
margin:0;
padding:0;
box-sizing:border-box;
}  

body{
background:lightblue;
font-family: 'poppins', sans-serif;
}

.container{
height:335px; /*390px*/
width:350px;
background:white;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
border-radius:5px;
}

.passwordBox{
height:45px;
width:300px;
border:1px solid grey;
border-radius:3px;
position:relative;
top:60px;
left:50%;
transform:translate(-50%,-50%);
display:flex;
align-items:center;
}

.passwordBox > input{
all:unset;
height:42px;
width:230px;
border-radius:3px;
padding-left:15px;
font-size:16px;
}

.passwordBox > input:focus ~ label,
.passwordBox > input:valid ~ label{
transform:translateY(-22px);
font-size:12px;
background:white;
padding-left:5px;
padding-right:5px;
}

.passwordBox > label {
position: absolute;
left: 15px;
transition: all .2s;
font-size: 16px;
color: grey;
}

.passwordBox .fa-eye-slash{
display:none;
}

.passwordBox .fa-eye,.passwordBox .fa-eye-slash{
position:absolute;
right:15px;
font-size:18px;
color:black;
cursor:pointer;
}

.container .password-strength{
color:grey;
position:relative;
top:62px;
left:25px;
font-size:14px;
display:none;
}

.container .indicatorBox{
height:5px;
width:300px;
background:lightgrey;
border-radius:30px;
position:relative;
top:72px;
left:50%;
transform:translate(-50%,-50%);
display:none;
transition:all .2s;
}

.container .indicatorBox .indicator{
height:5px;
width:0%;
background:#828282;
border-radius:30px;
position:absolute;
transition:all .2s;
}

.container .validation-box{
height:150px;
width:300px;
position:relative;
top:130px; /*160px*/
left:50%;
transform:translate(-50%,-50%);
}

.container .validation-box>div {
height:20px;
width:250px;
margin-top:14px;
position:relative;
top:7px;
}

.container .validation-box > div > .icon{
height:18px;
width:18px;
background:grey;
border-radius:100%;
display:flex;
justify-content:center;
align-items:center;
color:white;
font-size:10px;
}

.container .validation-box > div > .valid{
background:#00b500;
}

.container .validation-box > div > span{
margin-left:25px;
color:grey;
position:relative;
top:-20px;
font-size:15px;
}

.container .validation-box > .lab1{
color:grey;
font-size:15px;
position:relative;
top:8px;
}
